
.heading1{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.heading2{
    width: 62%;
}

.main-heading{
    position: absolute;
    right: 42%;
    top: 4%;
}

.main-heading1{
    font-weight: 600;
    font-size: 18px;
    color: #2599c9;
    width: 51%;
    float: right;
}

.two-more-buttons{
    float: left;
    height: 1277px;
    background-color: #c8e6f4;
    width: 20%;
    border: 1px solid;
    border-color: #c8e6f4;
    box-shadow: 3px 0px 5px #c6e5c6;
    padding: 30px;
    padding-left: 0px;
    position: relative;
}

.about-us-heading{
    width: 80%;  
    float: left;
}

.description-beliefs{ 
    padding-top: 34px;  
}

.name-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #57caf9;
    width: 46%;
    font-size: 14px;
    transition: .5s;
}
.name-input::-webkit-input-placeholder{
    color:#ccc;
}

.mobile-number-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #57caf9;
    width: 46%;
    margin: 0% 1%;
    float: right;
    font-size: 14px;
}

.mobile-number-input::-webkit-input-placeholder{
    color:#ccc;
}

.description12{
    width: 59%;
}

.header-underline7{
    display: block;
    width: 36%;
    transition: 0.5s;
    height: 5px;
    background-color: #bdd7e2;
    border-radius: 20px;
    margin-top: 8px;
}

.email-id{
    float: left;
    width: 46%;
    margin-top: 3%;
}
.email-id-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #57caf9;
    width: 100%;
    font-size: 14px;
}
.email-id-input::-webkit-input-placeholder{
    color: #ccc;
}
.input-website{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #57caf9;
    width: 46%;
    margin: 0% 1%;
    float: right;
    font-size: 14px;
    padding-top: 5.6%;
}

.input-website::-webkit-input-placeholder{
    color: #ccc;
}

.service-offered-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #57caf9;
    width: 46%;
    font-size: 14px;
}

.seven-input-field{
    float: left;
    margin-left: 4.5%;
    width: 91%;
}

.service-offered-input::-webkit-input-placeholder{
    color: #ccc;
}

.tariff-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #57caf9;
    width: 46%;
    margin: 0% 1%;
    float: right;
    font-size: 14px;
}

.tariff-input::-webkit-input-placeholder{
    color: #ccc;
}

.service-about-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #57caf9;
    width: 99%;
    font-size: 14px;
    padding-top: 4%;
}

.service-about-input::-webkit-input-placeholder{
    color: #ccc;
}

.service-delivered-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #57caf9;
    width: 99%;
    font-size: 14px;
    padding-top: 2%;
}

.service-delivered-input::-webkit-input-placeholder{
    color: #ccc;
}

.certiﬁcation-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #57caf9;
    width: 46%;
    font-size: 14px;
    padding-top: 5.4%;
}

.certiﬁcation-input::-webkit-input-placeholder{
    color: #ccc;
}

.qualification-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #57caf9;
    width: 46%;
    margin: 0% 1%;
    float: right;
    font-size: 14px;
    padding-top: 5.3%;
}

.qualification-input::-webkit-input-placeholder{
    color: #ccc;
}
.therapy-center-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #57caf9;
    width: 99%;
    font-size: 14px;
    padding-top: 5.5%;
}

.therapy-center-input::-webkit-input-placeholder{
    color: #ccc;
}



/* .advertorials-description-2 {
    float: left;
    width: 51%;
    margin: 4% 4.5%;
} */





.adver-text-color {
    color: #4aadd6;
}
