/*
body{
    overflow-x: hidden;
    overflow-y: hidden;
}
*/
/*
.tqiw-headings-and-logo{
    margin: 2% 4%;
    float: left;
}
.tqiw-logo{
    width:8%;
    float: left;
}
*/
/*
.headings{
    float: left;
    margin: 1% 2%;
}
*/
.heading1{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}
.heading2{
    width: 62%;
}
.main-heading{
    position: absolute;
    right: 42%;
    top: 4%;
}
.main-heading1{
    font-weight: 600;
    font-size: 18px;
    color: #2599c9;
    width: 51%;
    float: right;
}
/*
.header-underline{
    display: block;
    width: 11%;
    background: #b9ddeb;
    height: 4px;
    transition:.4s;    position: absolute;
    top: 95%;border-radius: 20px;
}
*/
/*
.button{
    position: absolute;
    right: 13%;
    top: 6%;
}
*/
.two-more-buttons{
    float: left;
    height: 1277px;
    background-color: #c8e6f4;
    width: 20%;
    border: 1px solid;
    border-color: #c8e6f4;
    box-shadow: 3px 0px 5px #c6e5c6;
    padding: 30px;
    padding-left: 0px;
    position: relative;
}
.about-us-heading{
    width: 80%;  
    float: left;
}
.heading{
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    float: left;
    margin-left: 6%;
    margin-top: 14px;
}
.beliefs-description{
    float: left;
    width: 51%;
    margin: 6% 6%;
}
/*
.heading-beliefs{
    text-transform: uppercase;
    color: #41adda;
    font-weight: bold;
}
*/
.description-beliefs{ 
    padding-top: 34px;  
}
.header-underline2{
    display: block;
    width: 10%;
    transition: 0.5s;
    height: 4px;
    background-color: #e2e9ec;
    border-radius: 20px;
    margin-top: 8px;
}
.input-field-start{
    float: left;
    margin-left: 4.5%;
    width: 91%;
}

.input-field-start > input:focus{
    color: black;
/*    font-weight: bold;*/
}
.name-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #d1caca;
    width: 46%;
    font-size: 14px;
    transition: .5s;
/*    opacity: 0.5;*/
}
.name-input::-webkit-input-placeholder{
    color:#ccc;
}

.mobile-number-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #d1caca;
    width: 46%;
    margin: 0% 1%;
    float: right;
/*    opacity: 0.5;*/
    font-size: 14px;
}
.mobile-number-input::-webkit-input-placeholder{
    color:#ccc;
}
/*
.footer{
    clear: both;
    background-color: #b3ddef;
    height: 150px;
    border: 1px solid;
    border-color: #b3ddef;
    box-shadow: 20px 25px 40px 20px #756f6f;
}
*/
.description11{
    float: right;
    width: 25%;
}
.description12{
    width: 59%;
}
.header-underline7{
    display: block;
    width: 36%;
    transition: 0.5s;
    height: 5px;
    background-color: #bdd7e2;
    border-radius: 20px;
    margin-top: 8px;
}
/*
.footer > li{
    list-style-type: none;
    display: inline-block;
    border-right: 1px solid;
    font-size: 8.5px;
    padding: 0% 1%;
    float: left;
    margin-left: 23px;
    margin-top: 2%;
}
*/
.dont-miss-button{
    border: 0;
    text-transform: uppercase;
    height: 47px;
    color: white;
    font-weight: 600;
    background-color: #57caf9;
    margin: 0% 70%;
    border-radius: 50px 0px 0px 49px;
    width: 205%;
    font-size: 12px;
    border: 1px solid;
    box-shadow: 0px 6px 6px #bbb;
    border-color: #57caf9;
    outline: 0;
    transition: 0.4s;

}

.dont-miss-button:hover{
    margin-left: 68%;
    width: 207%;
    border: 1px solid #ac9292;
}
/*
.your-membership-button{
    border: 0;
    text-transform: uppercase;
    height: 50px;
    color: black;
    font-weight: 600;
    background-color: white;
    border-radius: 0px 50px 49px 0px;
    width: 86%;
    font-size: 12px;
    margin: 7% 0%;
    outline: 0;
    border: 1px solid;
    box-shadow: 0px 6px 6px #bbb;
    border-color: white;
    outline: 0;
    transition: 0.4s;
    margin-left: -1%;
}
.your-membership-button:hover{
    width: 88%;
    border: 1px solid #ac9292;
    
}
*/

.two-buttons{
    position: absolute;
    bottom: 59%;
}
/*
.feedback-button{
    border: 0;
    text-transform: uppercase;
    height: 50px;
    color: black;
    font-weight: 600;
    background-color: white;
    border-radius: 0px 50px 49px 0px;
    width: 86%;
    font-size: 12px;
    outline: 0;
    border: 1px solid;
    box-shadow: 0px 6px 6px #bbb;
    border-color: white;
    outline: 0;
    transition: 0.4s;
    margin-left: -1%;
}
.feedback-button:hover{
    width: 88%;
    border: 1px solid #ac9292;
}
*/

/*
.about-us-description{
    float: left;
    background-color: #6cd4b4;
    width: 100%;
    height: 73px;
    border: 1px solid;
    border-color: #6cd4b4;
    box-shadow: 0px 5px 5px #c6e5c6;

}
*/
.about-us-list{
    float: left;
}
.email-id{
    float: left;
    width: 46%;
    margin-top: 10px;
}
.email-id-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #d1caca;
    width: 100%;
/*    opacity: 0.5;*/
    font-size: 14px;
    padding-top: 3%;
}
.email-id-input::-webkit-input-placeholder{
    color: #ccc;
}
.input-website{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #d1caca;
    width: 46%;
    margin: 0% 1%;
    float: right;
/*    opacity: 0.5;*/
    font-size: 14px;
    padding-top: 2.5%;
}
.input-website::-webkit-input-placeholder{
    color: #ccc;
}
.service-offered-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #d1caca;
    width: 46%;
/*    opacity: 0.5;*/
    font-size: 14px;
    padding-top: 5%;
}
.seven-input-field{
    float: left;
    margin-left: 4.5%;
    width: 91%;
}
.service-offered-input::-webkit-input-placeholder{
    color: #ccc;
}
.tariff-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #d1caca;
    width: 46%;
    margin: 0% 1%;
    float: right;
/*    opacity: 0.5;*/
    font-size: 14px;
    padding-top: 5%;
}
.tariff-input::-webkit-input-placeholder{
    color: #ccc;
}
.service-about-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #d1caca;
    width: 99%;
/*    opacity: 0.5;*/
    font-size: 14px;
    padding-top: 5%;
}
.service-about-input::-webkit-input-placeholder{
    color: #ccc;
}
.service-delivered-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #d1caca;
    width: 99%;
/*    opacity: 0.5;*/
    font-size: 14px;
    padding-top: 2%;
}
.service-delivered-input::-webkit-input-placeholder{
    color: #ccc;
}
.certiﬁcation-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #d1caca;
    width: 46%;
/*    opacity: 0.5;*/
    font-size: 14px;
    padding-top: 5%;
}
.certiﬁcation-input::-webkit-input-placeholder{
    color: #ccc;
}
.qualification-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #d1caca;
    width: 46%;
    margin: 0% 1%;
    float: right;
/*    opacity: 0.5;*/
    font-size: 14px;
    padding-top: 5%;
}
.qualification-input::-webkit-input-placeholder{
    color: #ccc;
}
.therapy-center-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #d1caca;
    width: 99%;
/*    opacity: 0.5;*/
    font-size: 14px;
    padding-top: 5%;
}
.therapy-center-input::-webkit-input-placeholder{
    color: #ccc;
}
.submit-button{
    background-color: #86d2f1;
    border: 1px solid #86d2f1;
    width: 11%;
    height: 31px;
    border-radius: 30px;
    color: white;
    outline: 0;
    margin-top: 5%;
    box-shadow: 0px 3px 6px #bbb;
    margin-bottom: 10%;
}
/*
.about-us {
    width: 80%;  
    float: left;
}
*/


/*
.advertorials-description {
    float: left;
    background-color: #89c9e2;
    width: 100%;
    height: 85px;
    border: 1px solid;
    border-color: #89c9e2;
    box-shadow: -1px 3px 8px #bfb5b5;
}
*/

/*
.advertorials-heading {
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    float: left;
    margin-left: 5%;
    margin-top: 2.3%;
}
*/

.advertorials-description-2 {
    float: left;
    width: 51%;
    margin: 4% 4.5%;
}

.advertorials-heading-2 {
    text-transform: uppercase;
    color: #41adda;
    font-weight: bold;
}

.description-advertorials {
    padding-top: 34px;
}

.li-2 {
    
}
