.tq-header{
  padding: 2% 4%;
  float: left;
  box-shadow: 3px 2px 12px 2px #756f6f;
}
.tq-sidenav{
  float: left;height: 750px;background-color: #c8e6f4;width: 20%;    border: 1px solid;
  border-color: #c8e6f4;
  box-shadow: 4px 0px 5px #c6e5c6;padding: 30px;
padding-left: 0px;
position: relative;
z-index: -1;
}
.tq-content-header{
    float: left;
    width: 80%;
    padding: 30px; color:#fff; 
    font-size:38px;
    font-weight:600;
    background:#b783e6;
    opacity: 0.5;
    height: 85px
}
.life-events-list:first-child{
  margin: 0;
}
.life-events-list{
  margin: 0;
  padding: 0;
}
.life-events-list ul li{
  list-style-type: none;
  padding:30px 0 30px 30px ;
}
.life-events-list ul li a{
color:#000;
}
.life-events-list ul li a div{
padding:30px 0 30px 30px ;
}

.life-events-list ul li a:hover{
  color:#b783e6;
  cursor: pointer;
  text-decoration: none;
}
.bold-text{
  font-weight: bolder;
}

.events {
    float: left;
    width: 80%;
    opacity: 0.6;
}

.events-description {
    float: left;
    background-color: #b783e6;
    width: 100%;
    height: 85px;
    box-shadow: -1px 3px 8px #bfb5b5;
}

.events-heading {
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    float: left;
    margin-left: 5%;
    margin-top: 2.3%;
}
