/*
body{
    overflow-x: hidden;
    overflow-y: hidden;

}
*/
/*
.tqiw-logo-and-heading{
    float: left; 
    width: 100%;
}
.tqiw-heading{
    margin: 2% 4%;
    float: left;
}
.tqiw-logo{
    width:8%;
    float: left;
}
.tqiw-2headings{
    float: left;
    margin: 1% 2%;
}
.tqiw-heading1{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}
.tqiw-heading2{
    width: 62%;
}
*/
/*
.tqiw-main-heading{
    position: absolute;
    right: 42%;
    top: 4%;
}
.heading{
    font-weight: 600;
    font-size: 18px;
    color: #2599c9;
    width: 51%;
    float: right;
}
*/
/*
.header-underline{
    display: block;
    width: 11%;
    background: #b9ddeb;
    height: 4px;
    transition:.4s;    
    position: absolute;
    top: 95%;
    border-radius: 20px;
}
*/
/*
.button{
    position: absolute;
    right: 13%;
    top: 6%;
}
*/
.bottons-zone{
    float: left;
    height: 5500px;
    background-color: #c8e6f4;
    width: 20%;
    border: 1px solid;
    border-color: #c8e6f4;
    box-shadow: 3px 0px 5px #c6e5c6;
    padding: 30px;
    padding-left: 0px;
    position: relative;
}
/*
.allbuttons{
    float: left;
    height: 78.8%;
    background-color: #c8e6f4;
    width: 20%;
    border: 1px solid;
    border-color: #c8e6f4;
    box-shadow: 3px 0px 5px #c6e5c6;
    padding: 30px;
    padding-left: 0px;
    position: relative;
}
*/
/*
.offering{
    width: 80%;  
    float: left;
}
*/
/*
.offering-heading{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    float: left;
    margin-left: 5%;
    margin-top: 19px;
}
*/

/*
.description{
    float: right;
    width: 50%;
    margin-right: 23%;
}
*/


/*
.footer{
    clear: both;
    background-color: #b3ddef;
    height: 150px;
    border: 1px solid;
    border-color: #b3ddef;
    box-shadow: 20px 25px 40px 20px #756f6f;
}
*/
/*
.footer > li{
    list-style-type: none;
    display: inline-block;
    border-right: 1px solid;
    font-size: 9px;
    padding: 0% 1%;
    float: left;
    margin-left: 23px;
    margin-top: 2%;
}
*/
/*
.dont-miss-button{
    border: 0;
    text-transform: uppercase;
    height: 47px;
    color: white;
    font-weight: 600;
    background-color: #57caf9;
    margin: 0% 70%;
    border-radius: 50px 0px 0px 49px;
    width: 205%;
    font-size: 12px;
    border: 1px solid;
    box-shadow: 0px 6px 6px #bbb;
    border-color: #57caf9;
    outline: 0;
    transition: 0.4s;

}

.dont-miss-button:hover{
    margin-left: 68%;
    width: 207%;
    border: 1px solid #ac9292;
}
*/
/*
.your-membership-button{
    border: 0;
    text-transform: uppercase;
    height: 50px;
    color: black;
    font-weight: 600;
    background-color: white;
    border-radius: 0px 50px 49px 0px;
    width: 86%;
    font-size: 12px;
    margin: 7% 0%;
    outline: 0;
    border: 1px solid;
    box-shadow: 0px 6px 6px #bbb;
    border-color: white;
    outline: 0;
    transition: 0.4s;
    margin-left: -1%;
}
.your-membership-button:hover{
    width: 88%;
    border: 1px solid #ac9292;  
}
*/

/*
.two-buttons{
    position: absolute;
    bottom: 11%;
}
*/
/*
.feedback-button{
    border: 0;
    text-transform: uppercase;
    height: 50px;
    color: black;
    font-weight: 600;
    background-color: white;
    border-radius: 0px 50px 49px 0px;
    width: 86%;
    font-size: 12px;
    outline: 0;
    border: 1px solid;
    box-shadow: 0px 6px 6px #bbb;
    border-color: white;
    outline: 0;
    transition: 0.4s;
    margin-left: -1%;
}
.feedback-button:hover{
    width: 88%;
    border: 1px solid #ac9292; 
}
*/

/*
.about-us-description{
    float: left;
    background-color: #82d2f3;
    width: 100%;
    height: 78px;
    border: 1px solid;
    border-color: #82d2f3;
    box-shadow: -1px 3px 8px #bfb5b5;

}
*/

/*
.link{
    color: #739073;
    font-size: 11px;
}
.link:hover{
    color: #739073;
    text-decoration: none;   
}
*/


.founders-heading {
    text-transform: uppercase;
    color: #41adda;
    font-weight: bolder;
    font-size: 23px;
    /* float: left; */
    display: inline-block;
}

.founders-heading2 {
    color: #41adda;
    font-weight: bold;
    font-size: 21px;
/*     float: left; */
    display: inline-block;
}

.founders-headings {
    margin-left: 5%;
    margin-top: 5%;
    float: left;
}

.founders-underline {
    display: block;
    width: 45%;
    background: #e9e5e3;
    height: 4px;
    border-radius: 20px;
    margin-top: 4px;
}

.founders-underline2 {
    display: block;
    width: 29%;
    background: #e9e5e3;
    height: 4px;
    border-radius: 20px;
    margin-top: 4px;
}

.director-description {
    float: left;
    width: 60%;
    margin-top: 5%;
    margin-left: 8.5%;
}

.link-1 {
    color: #9fb977;
}
.link-1:hover{
    text-decoration: none;
    color: #b3c893;
}

.scrolling {
    height: calc(100% - 240px);
    overflow-y: scroll;
    width: 80%; 
    overflow-x: hidden;
}

.gallery-heading {
    font-weight: bold;
    font-size: 11.3px
}

.gallery-heading-2 {
    font-size: 13px;
    margin-top:14%;
}


/*
.heading-2 {
    margin-top: 13%;
}
*/

.gallery-heading-2-underline {
    display: block;
    width: 45%;
    background: #e9e5e3;
    height: 4px;
    border-radius: 20px;
    margin-top: 4px;
}

.image {
    float: left;
    margin-top: 3%;
}
.director-description-2 {
    float:left;
    width: 60%;
    margin-top: 5%;
    margin-left: 3.5%;
}
