/*
body{
    overflow-x: hidden;
    overflow-y: hidden;
}

.tqiw-logo-and-heading{
    float: left;
    width: 100%;
}
.tqiw-logo{
    width:26%;
    float: left;
}
.tqiw-2-heading{
    float: left;
    margin: 1% 2%;
}
.tqiw-heading2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    float: left;
    margin-left: 2%;
}
.tqiw-heading3{
    width: 70%;
    float: left;
    margin-left: 4%;
}
.tqiw-heading4{
    float: left;
    width: 25%;
    margin-top: 2.6%;
    margin-left: 1%;
}
.tqiw-heading5{
    font-weight: 600;
    font-size: 18px;
    color: #2599c9;
    margin: 0;
    float: left;
}
*/
/*
.header-underline{
    display: block;
    width: 27%;
    background: #b9ddeb;
    height: 4px;
    transition:.4s;    
    border-radius: 20px;
    margin-top: 2%;
}
*/
/*
.button{
    position: absolute;
    right: 0;
    left: 81%;
    top: 5%;
}
*/
.button2{
    float: left;
    height: 100%;
    background-color: #c8e6f4;
    width: 20%;
    border: 1px solid;
    border-color: #c8e6f4;
    box-shadow: 3px 0px 5px #c6e5c6;
    padding: 30px;
    padding-left: 0px;
    position: relative;
}
/*
.join-us{
    width: 80%;  
    float: left;
}
.join-us-heading{
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    float: left;
    margin-left: 9%;
    margin-top: 2.3%;
}
*/
/*
.careers{
    float: left;
    width: 20%;
    margin: 6% 9%;
}
*/
.careers-heading1{
    text-transform: uppercase;
    color: #bc8a8a;
    font-weight: bold;
    padding-left: 4%;
}
.careers-option1{
    float: left;
    width: 20%;
    padding-top: 8%;
}
.career-openings{
    font-weight: bold;
    font-size: 17px
}
.career-heading{
    width: 56%;
    font-size: 12px;
    font-weight: bold; 
    padding-top: 12%;
}
.heading-underline{
    display: block;
    width: 45%;
    transition: 0.5s;
    height: 5px;
    background-color: #ebcdcd;
    border-radius: 20px;
    margin-top: 9px;
}
.career-description{
    width: 75%;
    margin-top: 15%;
}

/*
.footer{
    clear: both;
    background-color: #b3ddef;
    height: 150px;
    border: 1px solid;
    border-color: #b3ddef;
    box-shadow: 20px 25px 40px 20px #756f6f;
    float: left;
    margin-top: 9%;
    width: 100%;
}
*/
/*
.footer > li{
    list-style-type: none;
    display: inline-block;
    border-right: 1px solid;
    font-size: 8.5px;
    padding: 0% 1%;
    float: left;
    margin-left: 23px;
    margin-top: 2%;
}
*/
/*
.dont-miss-button{
    border: 0;
    text-transform: uppercase;
    height: 47px;
    color: white;
    font-weight: 600;
    background-color: #57caf9;
    margin: 0% 70%;
    border-radius: 50px 0px 0px 49px;
    width: 86%;
    font-size: 12px;
    border: 1px solid;
    box-shadow: 0px 6px 6px #bbb;
    border-color: #57caf9;
    outline: 0;
    transition: 0.4s;
    float: right;
}

.dont-miss-button:hover{
    width: 88%;
    border: 1px solid #ac9292;
}
*/
/*
.your-membership-button{
    border: 0;
    text-transform: uppercase;
    height: 50px;
    color: black;
    font-weight: 600;
    background-color: white;
    border-radius: 0px 50px 49px 0px;
    width: 86%;
    font-size: 12px;
    margin: 7% 0%;
    outline: 0;
    border: 1px solid;
    box-shadow: 0px 6px 6px #bbb;
    border-color: white;
    outline: 0;
    transition: 0.4s;
    margin-left: -1%;
}
.your-membership-button:hover{
    width: 88%;
    border: 1px solid #ac9292;
    
}
*/

/*
.two-buttons{
    position: absolute;
    bottom: 30%;
}
*/
/*
.feedback-button{
    border: 0;
    text-transform: uppercase;
    height: 50px;
    color: black;
    font-weight: 600;
    background-color: white;
    border-radius: 0px 50px 49px 0px;
    width: 86%;
    font-size: 12px;
    outline: 0;
    border: 1px solid;
    box-shadow: 0px 6px 6px #bbb;
    border-color: white;
    outline: 0;
    transition: 0.4s;
    margin-left: -1%;
}
.feedback-button:hover{
    width: 88%;
    border: 1px solid #ac9292;
}
*/
/*

.about-us-description{
    float: left;
    background-color: #daaeae;
    width: 100%;
    height: 85px;
    border: 1px solid;
    border-color: #daaeae;
    box-shadow: 0px 5px 5px #d8d0d0;

}
*/
/*
.about-us-list{
    float: left;
}
*/
.apply-button{
    background-color: #ebcdcd;
    border: 0;
    color: white;
    font-weight: bold;
    height: 39px;
    border-radius: 30px;
    width: 54%;
    margin-top: 10px;
    outline: 0;
    transition: .5s;
}
.apply-button:hover{
    border: 2px solid #ffb0b0;
/*    width: 56%;*/
}

.career-option2{
    float: left;
    width: 20%;
    padding-top: 13%;
}
.career-heading2{
    font-size: 12px;
    font-weight: bold;
}
.heading-underline2{
    display: block;
    width: 23%;
    transition: 0.5s;
    height: 5px;
    background-color: #ebcdcd;
    border-radius: 20px;
    margin-top: 8px;
}
.career-description2{
    width: 78%;
    margin-top: 21%;
}
.career-option3{
    float: left;
    width: 20%;
    padding-top: 13%;
    margin-bottom: 10%;
}
.career-heading3{
    font-size: 12px;
    font-weight: bold;
}
.heading-underline3{
    display: block;
    width: 23%;
    transition: 0.5s;
    height: 5px;
    background-color: #ebcdcd;
    border-radius: 20px;
    margin-top: 8px;
}
.career-description3{
    width: 79%;
    margin-top: 21%;
}

.careers-heading0{
    float: left;
    width: 20%;
    margin: 6% 5%;
}
