/*
.body-1{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}
*/

/*
.button{
    position: absolute;
    right: 0;
    left: 81%;
    top: 24%;
}
*/
.bottons-zone{
    float: left;
    height: 5500px;
    background-color: #c8e6f4;
    width: 20%;
    border: 1px solid;
    border-color: #c8e6f4;
    box-shadow: 3px 0px 5px #c6e5c6;
    padding: 30px;
    padding-left: 0px;
    position: relative;
}
/*
.allbuttons{
    float: left;
    height: 100%;
    background-color: #c8e6f4;
    width: 20%;
    border: 1px solid;
    border-color: #c8e6f4;
    box-shadow: 3px 0px 5px #c6e5c6;
    padding: 30px;
    padding-left: 0px;
    position: relative;
}
*/
.offering{
    width: 80%;  
    float: left;
}
.offering-heading{
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    float: left;
    margin-left: 7.5%;
    margin-top: 2.3%;
}
.therapies{
    float: left;
    margin: 4% 8%;
    width: 45%;
}
.therapies-heading{
    text-transform: uppercase;
    color: #ef9877;
    font-weight: bold;
    font-size: 24px;
}
.therapies-description{
    padding-top: 7%;
    font-size: 13px;
    margin: 0;
}
.description{
    float: right;
    width: 53%;
    margin-right: 19%;
}
.description-heading{
    font-weight: bold;
}
.description2{
    margin: 0 0 0;
}
.description-underline{
    display: block;
    height: 4px;
    width: 11%;
    background-color: #e2d3ce; 
    border-radius: 120px;
    margin-top: 3px;
}
.description3{
    float: right;
    width: 53%;
    margin-right: 19%;
    margin-top: 4%;
}
.heading2{
    font-weight: bold;
}
.description4{
    margin: 0 0 0;
}
.images{
    float: left;
    width: 100%;
    padding-left: 5%;
    margin-top: 4%;
}
.image-fruit{
    float: left;
    width: 50%;
}
.image1{
    width: 83%;
}
.image-massage{
    float: left;
    width: 50%;
}
.image2{
    width: 90%;
}
.description5{
    float: left;
    width: 52%;
    margin-left: 12%;
    margin-top: 4%;
}
.description6{
    margin: 0 0 0;
}
.description7{
    float: left;
    width: 51%;
    margin-left: 29%;
    margin-top: 4%;
}
.heading5{
    font-weight: bold;
}
.description8{
    margin: 0 0 0;
}
.yoga-image{
    float: left;
    width: 100%;
    margin-top: 3%;
}
.yoga-image1{
    float: left;
    width: 100%;
    height: 330px;
}
.description9{
    float: left;
    width: 54%;
    margin-left: 12%;
    margin-top: 4%;
}
.description10{
    margin: 0 0 0;
    width: 93%;
}
.description11{
    float: left;
    width: 49%;
    margin-left: 12%;
    margin-top: 4%;
}
.description12{
    margin: 0 0 0;
}
.description13{
    float: left;
    width: 51%;
    margin-left:24%;
    margin-top: 4%;
}
.description14{
    margin: 0 0 0;
}
.description16{
    float: left;
    width: 57%;
    margin-left: 12%;
    margin-top: 4%;
}
.description15{
    float: right;
    width: 50%;
    margin-right: 26%;
    margin-top: 4%;
}
.description17{
    margin: 0 0 0;
    width: 89%;
}
.description18{
    float: left;
    width: 54%;
    margin-left: 12%;
    margin-top: 4%;
}
.yoga2{
    float: left;
    width: 100%;
    margin-top: 3%;
}
.yoga-image2{
    float: left;
    width: 100%;
    height: 330px;
}
.description20{
    margin: 0 0 0;
    float: right;
    width: 56%;
    margin-right: 16%;
    margin-top: 4%;
}
.description19{
    margin-bottom: 7%;
    float: left;
    width: 49%;
    margin-left: 12%;
    margin-top: 4%;
}
/*
.footer{
    clear: both;
    background-color: #b3ddef;
    height: 150px;
    border: 1px solid;
    border-color: #b3ddef;
    box-shadow: 20px 25px 40px 20px #756f6f;
}
*/
/*
.footer > li{
    list-style-type: none;
    display: inline-block;
    border-right: 1px solid;
    font-size: 9px;
    padding: 0% 1%;
    float: left;
    margin-left: 23px;
    margin-top: 2%;
}
*/
/*
.dont-miss-button-2{
    border: 0;
    text-transform: uppercase;
    height: 47px;
    color: white;
    font-weight: 600;
    background-color: #57caf9;
    border-radius: 50px 0px 0px 49px;
    width: 86%;
    font-size: 12px;
    border: 1px solid;
    box-shadow: 0px 6px 6px #bbb;
    border-color: #57caf9;
    outline: 0;
    transition: 0.4s;
    float: right;
}

.dont-miss-button-2:hover{
    width: 88%;
    border: 1px solid #ac9292;
}
*/
/*
.your-membership-button{
    border: 0;
    text-transform: uppercase;
    height: 50px;
    color: black;
    font-weight: 600;
    background-color: white;
    border-radius: 0px 50px 49px 0px;
    width: 86%;
    font-size: 12px;
    margin: 7% 0%;
    outline: 0;
    border: 1px solid;
    box-shadow: 0px 6px 6px #bbb;
    border-color: white;
    outline: 0;
    transition: 0.4s;
    margin-left: -1%;
}
.your-membership-button:hover{
    width: 88%;
    border: 1px solid #ac9292;
    
}
*/

/*
.two-buttons-2{
    position: absolute;
    bottom: 30%;
}
*/
/*
.feedback-button{
    border: 0;
    text-transform: uppercase;
    height: 50px;
    color: black;
    font-weight: 600;
    background-color: white;
    border-radius: 0px 50px 49px 0px;
    width: 86%;
    font-size: 12px;
    outline: 0;
    border: 1px solid;
    box-shadow: 0px 6px 6px #bbb;
    border-color: white;
    outline: 0;
    transition: 0.4s;
    margin-left: -1%;
}
.feedback-button:hover{
    width: 88%;
    border: 1px solid #ac9292;
}
*/

/*
.about-us-description{
    float: left;
    background-color: #ef9877;
    width: 100%;
    height: 85px;
    border: 1px solid;
    border-color: #ef9877;
    box-shadow: -1px 3px 8px #bfb5b5;

}
*/
/*
.about-us-list{
    float: left;
}
*/

.link{
    color: #ef9877;
    font-size: 12px;
}
.link:hover{
    color: #ef9877;
    text-decoration: none;   
}
/*
.tqiw-main-heading-2{
    float: left;
    width: 28%;
    margin-top: 2.6%;
    margin-left: 5%;
}
*/
/*
.heading-2{
    font-weight: bolder;
    font-size: 20px;
    color: #2599c9;
    margin: 0;
    float: left;
}
*/

.offering-description {
    float: left;
    background-color: #ef9877;
    width: 100%;
    height: 85px;
    border: 1px solid;
    border-color: #ef9877;
    box-shadow: -1px 3px 8px #bfb5b5;
}
