@font-face {
  font-family: 'Lato Black';
  src: url('../assets/fonts/lato/Lato-Black.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Lato Regular';
  src: url('../assets/fonts/lato/Lato-Regular.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Lato Light';
  src: url('../assets/fonts/lato/Lato-Light.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Lato Medium';
  src: url('../assets/fonts/lato/Lato-Medium.ttf'); /* IE9 Compat Modes */
}
    
*{
    font-family: Lato Regular;  
}
h1, h2, h3, h4, h5, h6{
    font-family: Lato Black;
}
body{
    height: 100%;
}
.body-1{
    overflow-y: hidden;
    height: 100%;
}
.noPadding{
    padding: 0px !important;
}
.noMargin{
    margin: 0px !important;
}

.tqiw-grid-1-clear,
.tqiw-grid-2-clear,
.tqiw-grid-3-clear,
.tqiw-grid-4-clear{
    clear: left;
}
.tqiw-grid-1,
.tqiw-grid-1-clear{
    width:25%;
    padding: 0px 30px;
    float: left;
    min-height: 50px;
}
.tqiw-grid-2{
    width:50%;
    padding:0px 30px;
    float: left;
    min-height: 50px;
    
}
.tqiw-grid-3{
    width:75%;
    padding: 0px 30px;
    float: left;
    min-height: 50px;
    
}
.tqiw-grid-4{
    width:100%;
    padding: 0px 30px;
    float: left;
    min-height: 50px;
    
}
.tqiw-row{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/*header css*/
.tqiw-logo-and-heading{
    float: left;
    position: relative;
    width: 100%;
    height: 120px;
    z-index: 1;
    box-shadow: 3px -4px 20px 1px #aaa;
}
.tqiw-heading{
    margin: 2% 4%;
    float: left;
    width: 24%;
}
.tqiw-logo{
    width:25%;
    float: left;
}
.tqiw-home-header-tagline{
    float: left;
    /* width: 42%; */
    margin-top: 2.6%;
    margin-left: 5%;
}
.tqiw-home-header-tagline > h4{
    font-weight: bolder;
    font-size: 26px;
    color: #36adc1;
    margin: 0;
    float: left;
}
.tqiw-pages-header-tagline{
    float: left;
    /* width: 29%; */
    margin-top: 2.6%;
/*    margin-left: 5%;*/
}
.tqiw-pages-header-tagline > h4{
    font-weight: bolder;
    font-size: 20px;
    color: #36ADC1;
    margin: 0;
    /*float: left;*/
}

.header-underline{
    display: block;
    width: 27%;
    background: #E4F1C5;
    height: 4px;
    transition:.4s;
    border-radius: 20px;
    margin-top: 2%;
}
.dont-miss-button{
    border: 0;
    text-transform: uppercase;
    height: 50px;
    color: white;
    font-weight: 600;
    background-color: #36ADC1;
    border-radius: 50px 0px 0px 50px;
    width: 163px;
    font-size: 12px;
    /* border: 1px solid; */
    /* box-shadow: 0px 6px 6px #bbb; */
    box-shadow: 0px 3px 12px 0px #aaa;
    
    border-color: #36ADC1;
    outline: 0;
    transition: 0.4s;
    /* float: right; */
    position: absolute;
    right: 0px;
    top: 30px;
}

.dont-miss-button:hover{
    width: 170px;
    border: 1px solid #127E89;
    
}
/* header css ends */

/* home banner css */
    .tqiw-video{
        float: left;
        width: 100%;
        position: relative;
        z-index: 1;
        background: #fff;
    }
/* home banner css ends */

/* home content css */
.tqiw-home-menu-list {
    float: left;
    width: 25%;
    padding: 30px;
}
.menu-list {
    margin-top: 25%;
}
.home-menus > li > a:hover{
    color: #ea4d4d;
    font-weight: bold;
    text-decoration: none;
}
.home-menus > li > span{
    display: block;
    height: 2px;
    width: 0%;
    transition: .4s;
    background: #36ADC1;
}
.home-menus > li:hover >span{
    width: 15%;
}

.menu-heading {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #36adc1;
}

.menu-heading > span{
    display: block;
    width: 23%;
    background: #e7c4ca;
    height: 5px;
    margin-top: 4px;
    border-radius: 20px;
}

.home-menus {
    list-style-type: none;
    padding: 0;
}

.home-menus > li {
    list-style-type: none;
    cursor: pointer;
    margin-top: 10px;
    transition: .5s;
}

.home-menus > li > a{
    color: #333;
    font-size: 14px;
}

.offerings-menu-list {
    margin-top: 40%;
}
.join-us-menu-list {
    margin-top: 15%;
}
.events-menu-list {
    margin-top: 38%;
    margin-bottom: 25%;
}
.networking-menu-list {
    margin-top: 90%;
}



.tqiw-content-block{
    float: left;
    width: 80%;
}
 @media screen and ( min-device-width : 320px) and (max-width: 800px){
    
    .tqiw-content-block{
        width: 100%;
        float: left;
    }
    .offerings-menu-list,.menu-list,.join-us-menu-list,.networking-menu-list,.events-menu-list{
         margin-top: 10%;
    }

    .tqiw-home-menu-list{
        width: 50%;
        /* padding: 10px; */
    }
    .tqiw-menu-sidebar{
        width: 0px !important;
    }
} 

.home-body{
    width: 100%;
    display: flex;
    float: left;
    padding: 0px 30px;
}


.scroller{
    height: calc(100% - 85px);
    overflow-y: scroll;
    width: 100%;
    overflow-x: hidden;
    padding-top: 30px; 
}
.scroller::-webkit-scrollbar-track
{
/*	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: #F5F5F5;
}

.scroller::-webkit-scrollbar
{
	width: 10px;
	/* height: 40px; */
	background-color: #F5F5F5;
}

.scroller::-webkit-scrollbar-thumb
{   
    /* width: 40px; */
    /* border-radius: 50%; */
	background-color: #36ADC1;	
}


/* home content css ends  */

/* footer css  */

.home-footer{
    clear: both;
    background-color: #CFE698;
    height: 150px;
    /* border: 1px solid;
    border-color: #CFE698; */
    box-shadow: 0 -2px 15px -2px #aaa;
    position: relative;
}
.home-footer > ul{
    font-size: 11px;
    float: left;
    text-align: center;
    margin-top: 2%;
    width: 100%;
    padding: 0px;
}
.home-footer > ul > li{
    display: inline-block;
    border-right: 1px solid;
    padding: 0px 1.5%;
}
.home-footer > ul:last-child{
    display: inline-block;
    font-size: 11.5px;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    width: 98%;
    text-align: center;
}
.home-footer > ul:last-child > li{
    display: inline-block;
    border-right: 1px solid;
    padding: 0px 7px
}

.footer{
    float: left;
    margin-top: 120px;
    background-color: #CFE698;
    min-height: 140px;
    /* border: 1px solid;
    border-color: #b3ddef; */
    box-shadow: 6px 19px 27px 12px #756f6f;
    width: 100%;
}
.footer > ul{
    display: inline-block;
    font-size: 9.5px;
    float: left;
    margin-top: 2%;
    width: 98%;
    text-align: center;
}
.footer > ul > li {
    display: inline-block;
    border-right: 1px solid;
    padding: 0px 11px;
    margin-bottom: 30px;
}
.footer > ul > .list-3{
    display: inline-block;
/*    border-right: 1px solid;*/
    padding: 0px 11px;
}
.footer >.ul-2{
    display: inline-block;
    font-size: 9.5px;
    float: left;
    margin-left: 4%;
    margin-top: 2%;
    width: 98%;
    text-align: center;
}
.footer > .footer-ul{
    text-align: center;
}
.footer>.footer-ul > .list-2{
    display: inline-block;
    padding: 0px 7px;
    border: none;
}

/* footer css ends */

/* sidebar css  */
.margin-right30{
    margin-right: 30px;
    margin-left: -30px;    
}
.tqiw-menu-sidebar{
    float: left;
    overflow: hidden;
    /* height: 100%; */
    background-color: #dfefac;
    width: 20%;
    border: 1px solid;
    border-color: #dfefac;
    /* box-shadow: 4px 0px 5px #dfefac; */
    padding: 30px 0px;
    /* margin-right: 30px; */
    /* margin-left: -30px; */
    /* padding-left: 0px; */
    position: relative;
    box-shadow: 3px 0 14px -2px rgba(74, 71, 71, 0.4);
    transition: .3s;
}
.sidebar-button{
    text-transform: uppercase;
    height: 50px;
    border: 0;
    font-weight: 600;
    border-radius: 0px 50px 48px 0px;
    width: 68%;
    height: 48px;
    font-size: 12px;
    /* border: 1px solid; */
    box-shadow: 0px 3px 12px 0px #aaa;
    /* border-color: #36ADC1; */
    background: #fff;
    color: black;    
    outline: 0;
    transition: 0.4s;
    margin-bottom: 7%;
}
.sidebar-button:hover{
    width: 71%;
}
.dont-miss-button-sidebar{
    color: white;
    background-color: #36ADC1;
    margin-left: 0%;
    margin-top: 7%;
    border: 1px solid #36ADC1;    
}
.dont-miss-button-sidebar:hover{
    border: 1px solid #127E89;
}
.two-buttons{
    position: absolute;
    bottom: 10%;
}
/* sidebar css ends  */



/* common pages Css  */

.page-body{
    width: 100%;
    display: flex;
    height: calc(100% - 120px);
    float: left;
    position: relative;
    /* padding: 0px 30px; */
}

.page-heading-block {
    width: 80%;
    float: left;
    float: left;
    background-color: #9AD6E0;
    width: 100%;
    /* height: 85px; */
    border: 1px solid;
    border-color: #9AD6E0;
    box-shadow: 2px 3px 8px #bfb5b5;
    opacity: 0.8;
    padding: 11px 60px;
    transition: .8s;
    
}
.page-heading {
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    float: left;
}
.side-icons {
    float: right;
}
.section-heading{
    text-transform: uppercase;
    color: #41adda;
    font-weight: bold;
    margin: 30px 0px;
}
.section-heading-description > span, 
.section-description > span, 
.section-subheading > span,
.tqiw-green-underline{
    display: block;
    width: 50px;
    transition: 0.5s;
    height: 4px;
    background-color: #CFE698;
    border-radius: 20px;
    margin-top: 8px;
}
.section-heading-description > span.index-count,.index-count{
    color: #ea4d4d;
    height: 0px !important;
    display: inline !important;
    background: none !important;
    font-family: lato black;
    margin-right: 5px;
}

.section-heading-description,.section-description{
    /* padding-top: 34px; */
    margin-bottom: 30px;
    font-family: lato regular
}
.section-subheading{
    text-transform: capitalize;
    color: #41adda;
    font-weight: bold;
    font-size: 20px;
    font-family: lato black;    
    margin: 30px 0px;
}
.section-sub-subheading{
    text-transform: capitalize;
    color: #41adda;
    font-weight: bold;
    font-size: 14px;
    font-family: lato black;    
    margin: 30px 0px
}
.section-qoute-black,
.section-qoute-black60{
    text-transform: capitalize;
    color: #333;
    font-weight: bold;
    font-size: 20px;
    font-family: lato black;    
    /* margin: 30px 0px */
}
.section-qoute-black60{
    width: 60%;
}
.blue-text{
    color: #36ADC1;
    font-family: lato black;    
    
}
.full-image{
    float: left;
    width: 100%;
    margin:30px 0px;
}
.full-image > img{
    float: left;
    width: 100%;
    height: 330px;
}

.margintop30{
    margin-top: 30px;
}
    
.profile-image > img{
    float: left;
    width: 100%;
}
.black-subheading{
    font-size: 18px;
    color: #333;
    font-family: lato black;        
    font-weight: 600;
    margin-bottom: 15px;
}
.tqiw-underline-list{
    padding: 0px;
    float: left;
    list-style-type: none;    
}
.tqiw-underline-list > li {
    width: 33.33%;
    float: left;
    margin-bottom: 15px;
}
.tqiw-underline-list > li > span{
     display: block;
    width: 50px;
    transition: 0.5s;
    height: 4px;
    background-color: #9AD6E0;
    border-radius: 20px;
    margin-top: 8px;
}
.information-blue {
    /* float: right; */
    width: 100%;
    /* margin-right: 16%; */
     margin-top: 60px; 
    /* padding-bottom: 10%; */
    color: #36ADC1;
    font-size: 12px;
    font-style: italic;
}
/* common page css ends  */


/* form css  */
.tqiw-input{
      border: 0;
    outline: 0;
    border-bottom: 1px solid #9AD6E0;
    width: 100%;
    /* float: right; */
    font-size: 14px;
    float: left;
    margin-bottom: 30px;
    transition: .3s;
    color: #333
}
.tqiw-input::-webkit-input-placeholder{
    color:#ccc;
    transition: .3s;
    
}

.tqiw-input:focus::-webkit-input-placeholder{
    color:#756f6f;
}
.tqiw-input:focus{
    border-bottom-color: #36ADC1; 
}
.tqiw-textarea::-webkit-input-placeholder{
    color:#ccc;
    transition: .3s;
    
}

.tqiw-textarea:focus::-webkit-input-placeholder{
    color:#756f6f;
}
.tqiw-textarea:focus{
    border-color: #36ADC1; 
}

.tqiw-label{
    font-size: 14px;
    color: #36adc1;
    margin-bottom: 5px;    
    display: block;
}
.left-field{
    width: calc(50% - 30px) !important;
    margin-right: 30px;
}

.right-field{
    width: calc(50% - 30px) !important;
    margin-left: 30px;
}
.submit-button{
    background-color: #36adc1;
    border: 1px solid #36ADC1;
    width: 110px;
    /* height: 32px; */
    border-radius: 30px;
    color: white;
    outline: 0;
    box-shadow: 0px 3px 6px #bbb;
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    margin: 30px 0px;
    transition: .3s
}
.submit-button:hover{
    border: 1px solid #127E89;
    box-shadow: 0px 5px 12px 0px #aaa;
}
.tqiw-textarea{
    resize: none;
    float: left;
    border: 1px solid #9AD6E0;
    min-height: 95px;
    padding: 2%;
    width: 100%;
    margin-bottom: 30px;
    outline: 0;
}
/* form css ends */

/* modal css  */
.loginModal > .modal-dialog{
    width: 350px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.loginModal  .modal-content{
    box-shadow: none;
    min-height: 355px;
    border-radius: 0;
    background-color: #cfe698;
    border: 1px;
    width: 100%;
}
.modal-backdrop{
    background-color: #fff;
}
.modal-backdrop.in{
    opacity: .9
}
.floating-input{
    font-size: 14px;
    /* width: 200px; */
    height: 35px;
    border: 0;
    outline: 0;
    background-color: #cfe698;
    border-bottom: 1px solid white;
    width: 100%;
    font-weight: bold;
    padding-left: 0px;
    /* position: absolute; */
    /* background: 0; */
}
.floating-label {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.floating-text {
    position: absolute;
    /* pointer-events: none; */
    left: 0px;
    top: 13px;
    /* transition: 22.2s ease all; */
    color: #36ADC1;
    font-size: 12px;
    transition: 0.3s;
}
input:focus ~ .floating-text,
input:not(:focus):valid ~ .floating-text{
  top: -12px;
  /* bottom: 10px; */
/*  left: 19%;*/
  font-size: 10px;
  opacity: 1;
}
.login-form{
    width: 70%;
    margin: 30px auto;
}
.login-button {
    color: white;
    font-weight: bold;
    background-color: #36adc1;
    border: 1px solid #36ADC1;
    width: 100%;
    color: white;
    outline: 0;
    box-shadow: 0px 3px 6px #bbb;
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    margin: 15px 0px;
    transition: .3s
}
.tqiw-square-radio{
    width: 12px;
    height: 12px;
    background: #fcfff4;
    box-shadow: none;
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
    margin: 0px;
    position: relative;
    border: 1px solid #36ADC1;
    overflow: hidden;
}

.tqiw-square-radio input {
    position: absolute;
    left: -99999px;
    margin-top: -6px;
    overflow: hidden;
}
.tqiw-square-radio label{

        cursor: pointer;
    position: absolute;
    width: 6px;
    height: 6px;
    left: 2px;
    top: 2px;
    margin-bottom: 0px;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d', GradientType=0);
}
.tqiw-square-radio label:after{
    opacity: 0;
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #36ADC1;
    top: 0px;
    left: 0px;
}
.tqiw-square-radio input[type=checkbox]:checked+label:after, 
.tqiw-square-radio input[type=checkbox]:checked+label:after{
    opacity: 1;
}
.inputBlock{
    display: inline-block;
    float: left;
    margin-bottom: 15px;
    /* margin-right: 5px; */
}
.inputBlock > div,.inputBlock > span{
    display: inline-block;
    font-size: 10px;
    vertical-align: middle;
    color: #333;
}
/* modal css ends  */
select{
    color: #ccc;
}
.tqiw-link-list{
    float: left;
    width: 100%;
    list-style-type: none;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 30px;
}
.tqiw-link-list.tqiw-link-list-33 > li{
    width: 33.33%;
    padding: 0px 30px;
    float: left;    
}

.tqiw-link-list > li{
    width: 100%;
    padding: 0px 30px;
    float: left;
    margin-bottom: 30px;
}
.tqiw-link-list > li > a {
    cursor: pointer;
    font-size: 12px;
    /* font-weight: 600; */
    font-family: lato black;
    text-decoration: none;
    color: #36ADC1;
}
.tqiw-link-list > li >span{
    display: block;
    width: 50px;
    transition: 0.5s;
    height: 4px;
    background-color: #CFE698;
    border-radius: 20px;
    margin-top: 8px;
}

.tqiw-link-list > li > a:hover{
    color: #ea4d4d;
}

.tqiw-link-list > li:hover > span{
    width: 60px;
}
.diagnostics-paragraph-bold {
    font-weight: bold;
}

.tqiw-side-grid {
    float: left;
    width: 51%;
    margin-left: 12%;
    margin-top: 4%;
}

.diagnostics-links {
    color: #739073;
    font-size: 11px;
}

/* gallery page  */
.galleryInfo{
    margin: 15px 0px;
    font-size: 14px;
    color: #333;
}
.galleryInfo > b{
    font-family: lato black
}
.galleryInfo > a,.tqiw-blue-link{
    font-style: italic;
    color: #36ADC1;
    font-size: 14px;
}
